snippet scaffold
	\documentclass[a4paper]{article}
	\usepackage[utf8]{inputenc}
	\usepackage[danish]{babel}
	\usepackage[T1]{fontenc}
	\renewcommand{\danishhyphenmins}{22}
	\renewcommand{\arraystretch}{1.3}
	\usepackage{amsmath,amssymb,bm,mathtools}
	\title{${1}}
	\author{
		${2}
	}

	\begin{document}
	\maketitle

	${3}

	\end{document}

